h1 {color:blue;}
*{
    margin:0px; padding:0px;
}
nav a,ul{
    text-decoration: none; 
    list-style-type:none;
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-around ;
    align-items: center ;
    align-content: center ;
}
a{
    text-decoration: none;
    padding: 5px;
    color:white
}
nav {
    background-color: black;
    height:50px;
}